.env
env
db.sqlite3
*.pyc

accounts/migrations
home/migrations
booking/migrations
notification/migrations

accounts/__pycache__
home/__pycache__
booking/__pycache__
notification/__pycache__

flight_booking/__pycache__
