* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .cont {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #b0b0b1;
  padding: 3rem;
} */
.custNav {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-radius: 8px;
}
.lowerpart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
}
.cust-btn,
.cust-input {
  height: 3rem;
  width: 14rem;
  text-align: start;
  padding-left: 2rem;
  font-size: 1.5rem;
  border-radius: 8px;
}
.cust-btn {
  color: white;
  background-color: blue;
  cursor: pointer;

}
.cust-btn:hover{
    background-color: rgb(97, 97, 224);
}

.dateContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}
.dateinput {
  border: none;
  padding: 0px;
  text-align: center;
}
fieldset{
    border-radius: 8px;
}
legend{
    margin-left: 20px;
}

@media only screen and (min-width: 350px) and (max-width: 620px) {
  .cust-input,
  .cust-btn {
    flex-direction: column;
  }
  .lowerpart {
    flex-direction: column;
    justify-content: center;
  }
  .dateContainer {
    justify-content: center;
    font-size: 1.1rem;
    flex-direction: column;
    gap: 0rem;
  }
  .dateinput {
    display: flex;
    flex-direction: row;
    font-size: 1.3rem;
    text-align: left;
    padding: 0px 20px;
  }
  .cust-btn {
    padding: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 350px) {
  .cust-input,
  .cust-btn {
    width: 11rem;
    font-size: 1.1rem;
    margin: auto;
  }
  .navbar {
    justify-content: center;
    align-items: center;
  }
  .dateContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }
  .lowerpart{
    flex-direction: column;
  }
}
