SECRET_KEY= your_secret_key
#for production mode debug should be False
DEBUG=True

# local host
ENV=dev

# Production mode and run on docker ENV=production
# ENV=production

# EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.titan.email
EMAIL_PORT=587
EMAIL_FROM=your_email
EMAIL_HOST_USER=your_email
EMAIL_HOST_PASSWORD=your_password